
@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<input type="number" @bind="currentCount" />
<!--huge editable text area-->
<textarea class="form-control" rows="10" @bind="quote"></textarea>
<button class="btn btn-primary" @onclick="lol">Click me</button>
<button class="btn btn-primary" @onclick="cts.Cancel">Cancel</button>

@code {
    private string quote = "Hello, world!";
    CancellationTokenSource cts = new CancellationTokenSource();
    private int currentCount = 0;

    private void IncrementCount() => currentCount++;
    private async void lol()
    {
        Interfaces.ITextGenerator generator = new Services.OllamaGenerator();
        string q = await generator.GenerateText(quote, cts.Token);
        quote = q;
        //indicate that the operation is complete
        cts.Dispose();
        cts = new CancellationTokenSource();
        //update the UI
        StateHasChanged();
    }
}
