@page "/"



<div class="container">
@for(var i=0;i<5;i++){
<div class="card">
    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
    <div class="card-bottom">
        <span class="card-title">Card title</span>
        <span class="card-time">Edited 3 mins ago</span>
    </div>
</div>
}

</div>