@page "/todolist"
@inject Konspector.Storage.ProjectProvider pp
@using Microsoft.AspNetCore.Components.Sections
<SectionContent SectionName="Title">
    To Do List
</SectionContent>

@code {
    Storage.TodoList? chosenTodo = null;
}
@{
    var Todos = pp.project.Todos;
      if(chosenTodo == null)
    {
        chosenTodo = pp.project.Todos[0];
    }

}
<div class="todo-content">
    <div class="todo-main-container">
        <div class="todo-panel">
            <input class="todo-label" type="text" @bind=chosenTodo.Title/>
            <button class="todo-add-panel" @onclick="(e)=>pp.project.Todos.Add(new Konspector.Storage.TodoList())"><i class="fa fa-plus"></i> </button>
        </div>
        <div class="todo-body">
            @foreach (var todo in chosenTodo.Items)
            {
                <div class="todo-item">
                    <input type="checkbox" class="todo-checkbox" @bind="todo.IsDone" @bind:after="pp.saveProject" />
                    <input type="text" class="todo-text" @bind="todo.Title" @bind:after="pp.saveProject" />
                    <button class="todo-delete" @onclick="()=>{chosenTodo.Items.Remove(todo); pp.saveProject();}"><i class="fa fa-trash"></i></button>
                </div>
            }
            <button class="todo-add-item" @onclick="()=>{chosenTodo.Items.Add(new Konspector.Storage.TodoItem()); pp.saveProject();}">Add</button>
        </div>
    </div>

    <div class="todo-sidebar">
        @foreach(var todo in Todos.Where(t=>t!=chosenTodo)){
            <div class="todo-mini" >
                <div class="todo-mini-label" @onclick="()=>{chosenTodo=todo;}">@todo.Title
                    <button class="todo-delete" @onclick="()=>{Todos.Remove(todo); chosenTodo=Todos[0];pp.saveProject();}"><i class="fa fa-trash"></i></button>
                </div>
                <div class="todo-mini-body">
                    @foreach (var item in todo.Items)
                    {
                        <div class="todo-item">
                            <input type="checkbox" class="todo-checkbox" disabled @bind="item.IsDone"/>
                            <input type="text" class="todo-text" disabled @bind="item.Title"/>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>