@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Sections
@inject IJSRuntime JSRuntime
@inject Konspector.Storage.ProjectProvider pp


<!--Це головний шаблон для всіх сторінок-->
<div class="page">
    <!--Це меню зліва-->
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!--панелька зверху-->
        <div class="top-row px-4">
            <SectionOutlet SectionName="Title" />

        </div>
        <!--основний контент-->
        @Body<!--замість цієї штуковини буде підставлятися вкладка яку ми вибрали-->
    </main>
</div>
@code {

    //public void requestSave(object? e=null)
    //{
        //pp.saveProject();
    //}

    //bind onkeydown to the window
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           //use capture
            //JSRuntime.InvokeVoidAsync("window.addEventListener", "keydown", DotNetObjectReference.Create(this), "onkeydown", true);
        }
    }
}