@inherits LayoutComponentBase

<!--Це головний шаблон для всіх сторінок-->
<div class="page">
    <!--Це меню зліва-->
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
         <!--панелька зверху-->
        <div class="top-row px-4">
            Останні
        </div>
        <!--основний контент-->
        <article class="content px-4">
            @Body<!--замість цієї штуковини буде підставлятися вкладка яку ми вибрали-->
        </article>
    </main>
</div>
